<div class="small-breadcrumb">
  <div class="left-breadcrumb">
    <%= link_to 'profile', profile_index_path %>
    <a href="javascript:void(0)"><i class="fa fa-angle-right"></i><%= page_name %></a>
  </div>
  <div class="right-breadcrumb">
    <a href="westwind@oyanokai.org"><i class="fa fa-envelope"></i>westwind@oyanokai.org</a>
  </div>  <div class="clear"></div>
  <div style="margin-bottom:20px;" class="decoration"></div>
</div>
