<div class="content">
  <div class="full-bottom"></div>
  <div class="box-960 half-bottom">
    <center>
      <img src="https://oyanokaipdx.files.wordpress.com/2017/02/westwind_overview.jpg?w=1496"/>
    </center>
    <br/>
    Use your new Westwind application to manage your lottery registration.  You should have received an email from us with your login url.
    If you didn't get an email from us then please  let us know westwind@oyanokai.org.
    <p class="dropcaps dropcaps-2">
    </p>
  </div>

</div>
